
body{
    background-color: rgb(211, 236, 236);
}
/* .heading{
    text-align: center;
    font-style:italic;
    font-family: cursive ;
    color: #360815;
    font-size:50px ;
   
 
}

.logo{
    height: 400px;
    width: 400px;
    margin-left: 27%;
    border-radius: 50%;
     
} 

.banner{
   
    background-image: url("https://thumbs.dreamstime.com/b/various-art-design-paints-background-tools-high-resolution-66114644.jpg");
    width: 100%;
    height: 500px;
} */

.aboutdiv{
    background-color: lightgrey;
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    margin-top: 2px;
}


.aboutcontent{
    text-align: center;
    color: rgb(68, 63, 63);
    font-family: cursive;
   
}

.imagecontent
{
    height: 350px;
    width: 330px;
    box-shadow:10px 5px 10px 9px rgb(172, 172, 172);
    margin-top: 1%;
    margin-left:1%;
    flex: 44%;
    padding: 5%;
    border-radius: 2%;
}

.Sketchcontent{
  display: flex;
  margin:auto;
  
}

* {
    box-sizing: border-box;
  }

  .moreinfo{
      text-align: center;
      background-color: rgb(230, 219, 221);
      width: 100%;
      padding: 15px 25px 15px 25px;
      color: rgb(68, 60, 60);
       
  }

 

  .contactus{
    
      color: rgb(50, 56, 61);
     /* margin-left: 45%; */
     
  }
  