/* * { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.heading{
    text-align: center;
    font-style:italic;
    color: rgba(48, 46, 46, 0.966);
    font-size:50px ;
 
}

.logo{
    height: 400px;
    width: 400px;
    margin-left: 27%;
    border-radius: 50%;
  
} 

.banner{
   
    background-image: url("https://www.liveabout.com/thmb/S3rFQsbRntPRvYgNBc6MDe9yLP0=/2121x1414/filters:fill(auto,1)/color-pencils-on-wood-background-840726456-5c5b06cbc9e77c0001d9293e.jpg");
    width: 100%;
    height: 550px;
   
}

.aboutdiv{
    background-color: #a39883;
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    margin-top: 2px;
}


.aboutcontent{
    text-align: center;
    color: rgb(68, 63, 63);
    font-family: cursive;
   
}

.imagecontent
{
    height: 350px;
    width: 330px;
    box-shadow:10px 5px 10px 9px rgb(172, 172, 172);
    margin-top: 1%;
    margin-left: 2%;
    flex: 44%;
    padding: 5%;
    border: grey;
    border-radius: 2%;
}

.Sketchcontent{
  display: flex;
  margin:auto;
  color: rgb(66, 65, 65);
}

* {
    box-sizing: border-box;
  }

  .moreinfo{
      text-align: center;
      background-color: rgb(211, 189, 192);

      width: 100%;
      border: 1px solid #ccc; 
      padding: 15px 25px 25px 25px;
      color: rgb(68, 60, 60);
     
  }

  .contactus{
    
      color: rgb(50, 56, 61);
     /* margin-left: 45%; */
     
  }
  